@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    color: #000;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vw; 
    overflow-x: hidden;
}

section{
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}

.container{
    width: 90%; 
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(71, 71, 71, 0.8);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(95, 95, 95, 0.726);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}

.has.margin.right{
    margin-right: 5rem;
}

header{
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: whitesmoke;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list1{
    list-style: none;
    line-height: 6rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link2{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link3{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link4{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link5{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

 .nav-link:hover,
 .nav-link:focus{
    background: #ac4545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .nav-link1:hover,
 .nav-link1:focus{
    background: #ac4545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .nav-link2:hover,
 .nav-link2:focus{
    background: #ac4545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .nav-link3:hover,
 .nav-link3:focus{
    background: #ac4545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .nav-link4:hover,
 .nav-link4:focus{
    background: #ac4545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .nav-link5:hover,
 .nav-link5:focus{
    background: #ac4545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .top-nav.open{
    top: 0;
    border-radius: initial;
 }

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 3rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background:#ac4545;
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 10rem;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 15rem;
    font-family: 'Montserrat', sans-serif;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 15rem;
    user-select: none;
    text-align: left;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
    color: #000;
    letter-spacing: 3px;
    text-align: left;
}

.contact .label{
    color: #C6C5DB;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    color: #9b2727;
    
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}

.social-media{
    margin-top: 5rem;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
} 

.fa-github:hover{
    color: grey;
}

.fa-facebook:hover{
    color: #758cf1;
}

.fa-instagram:hover{
    color: #d47c7c;
}

.fa-twitter:hover{
    color: #a0cdeb;
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #C6C5DB;
    background-color: #ac4545;
    margin-bottom: 2rem;
    display: flex;
}

.icon-container i{
    color: #C6C5DB;
    font-size: 5rem;
    margin: auto;
}

.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child{
    margin-bottom: 0;
}

.profile-img{
    width: 50rem;
    flex: 1;
}

.portfolio-discription h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-discription h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-discription .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #a0cdeb;
    transition: color 650ms;
}

.portfolio-discription .cta:hover{
    color: #87c1e7;
}

.timeline ul{
    border-left: 40x solid #ac4545;
    border-radius:.8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;

}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #ac4545;
    border-radius: 100%;
    left: -7.7rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #929292;
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
}

input[type="submit"]{
    width: initial;
    background-color: #ac4545;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover{
    color: #eee;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgb(255, 77, 106);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgb(255, 77, 106);
    }
}

.special{
    font-weight: 500;
    color: #ac4545;
}

.portfolio-des h1{
    padding-left: 3rem;
}

.portfolio-des h6{
    padding-left: 3rem;
}

.portfolio-des p{
    padding-left: 3rem;
}

.portfolio-des .cta{
    padding-left: 3rem;
}

@media screen and (max-width: 768px) {
    .landing-text h1{
        font-size: 8rem;
        line-height: 8rem;
        text-align: left;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }

    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .timeline{
        padding-right: 5rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -20rem;
    }

    .timeline .date::after{
        left: -5.9rem;
    }
}

@media screen and (max-width: 600px) {
    .menu-toggker{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolo-description{
        margin: 0;
        order: 2;
    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    up{
        right: 2rem;
    }
}